[submodule "rake"]
  path = rake
  url = git@bitbucket.org:robinrob/rakefile.git
[submodule "yadr"]
  path = yadr
  url = https://github.com/skwp/dotfiles
[submodule "projects/oh-my-dotfiles"]
	path = projects/oh-my-dotfiles
	url = git@bitbucket.org:robinrob/oh-my-dotfiles.git
