[submodule "dotfiles-base"]
  path = dotfiles-base
  url = git@github.com:robinrob/dotfiles-base.git
[submodule "framework"]
  path = framework
  url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "rakelib"]
  path = rakelib	
  url = git@github.com:robinrob/rakelib.git
